<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-section">
      <ion-img src="assets/logo.png" alt="Logo" class="logo"></ion-img>
      <h1>Connexion</h1>
      <p>Connectez-vous à votre compte</p>
    </div>

    <form #data="ngForm" (ngSubmit)="login(data)" class="form-section">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input 
          id="username"
          type="username"
          ngModel
          name="username" 
          required
          placeholder="Votre username">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input 
          id="password"
          type="password" 
          ngModel
          name="password" 
          required
          placeholder="Votre mot de passe">
        </ion-input>
      </ion-item>

      <ion-button 
        type="submit" 
        expand="block" 
        class="login-button">
        Se connecter
      </ion-button>
    </form>

    <!-- <div class="register-section">
      <p>Vous n'avez pas de compte ?</p>
      <ion-button 
        fill="clear" 
        expand="block" 
        (click)="goToRegister()">
        Créer un compte
      </ion-button>
    </div> -->
  </div>
</ion-content>