.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.form-container {
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
  color: var(--ion-color-primary);
}

ion-item {
  margin-bottom: 1rem;
  --background: transparent;
}

.error-message {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.submit-button {
  margin: 2rem 0 1rem 0;
}

.login-link {
  margin-top: 2rem;
  
  .link {
    color: var(--ion-color-primary);
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
}